.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content{
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.modal-logo{
    width: 100px;
    margin-bottom: 20px;
}

.modal-buttons button{
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #ffd700;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}


