.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
}

.header-logo{
    height: 40px;
}

.header-button{
    padding: 10px 20px;
    background-color: #ffcb05;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}